<div class="container def">
  <div class="title_div container-hero">
    <h1 class="hero_title">
      Learn to Cook
      <span class="hero_title-span">Tasty Treats'</span> Customizable
      Masterclass
    </h1>
    <p class="hero_text-content">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <button type="button" class="hero_btn hero_btn-js">Order now</button>
  </div>
  <div>
    <div class="swiper slider-events">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
